@import './variables.scss';

.card-container{

    .trip-card{
        margin: 0 auto;
    }

    .current-trip-card{
        background: $green;
    }

    .past-trip-card{
        background: $orange;
    }
}